<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pupilos Lab Mentoria</title>
	<link rel="stylesheet" href="css/lab-mentoria.min.css">
</head>
<body class="user">

<% include ../partials/header %>


<div class="container page-internal">

	<div class="main">

		<%for (var i = 0; i < pupilo.length; i++) {%>
		<h1 class=""><%=pupilo[i].nome%></h1>


			<div class="box-content">

				<aside class="pupilo-detail">
					<figure>
						<img src="<%=pupilo[i].foto%>" alt="<%=pupilo[i].nome%>">
					</figure>

					<div class="pupilo-info">
						<p><strong>Categoria:</strong> <%=pupilo[i].categoria%></p>
						<p><strong>Cidade:</strong> <%=pupilo[i].cidade%></p>
						<p><strong>Estado:</strong> <%=pupilo[i].estado%></p>
					</div>
				</aside>

					<article class="pupilo-doubt">
						<h2>Preciso de ajuda com: <span class="btn-ajudar">Quero Ajudar</span></h2>
						<p><%=pupilo[i].descricao%></p>
					</article>

			</div>

		<%}%>


	</div>

</div>



<% include ../partials/footer %>

<% include ../partials/modal-login %>
<% include ../partials/modal-cadastro %>

<div id="overlay" class="overlay"></div>

<script src="js/jquery.js"></script>
<script src="js/lab-mentoria.min.js"></script>
</body>
</html>
